[submodule "extern/gflags"]
	path = extern/gflags
	url = https://github.com/gflags/gflags.git
[submodule "extern/glog"]
	path = extern/glog
	url = https://github.com/google/glog.git
[submodule "extern/jemalloc"]
	path = extern/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
